* {
  margin: 0;
}

.header{
  font-size: 3vw;
  background-color: #700707;
  float: right;
}
.header-image {
  position: top;
  background-color: #700707;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #700707;
  color: white;
  padding: 1%;
  font-size: 1.5vw;
}

nav{
  float: right;
  color: white;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: black;
  font-size: 120%;
}

body{
  background-color: gray;
}
